.note-item-card {
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.note-item-header h2 {
  margin: 0;
  font-size: 14px;
}

.note-item-content {
  padding: 12px;
}

.note-item-content p {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-item-card:nth-child(even) {
  background-color: #00ccff25;
}
