.template-form-container {
  border-radius: 8px;
  background-color: #2c2c2c;
  overflow: hidden;
}

.template-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  background-color: #333;
}

.template-form-title-input {
  background: none;
  border: none;
  color: #eee;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.template-form-title-input:focus {
  outline: none;
  border-bottom: 1px solid #007acc;
}

.template-form-collapse-button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-form-body {
  position: relative;
}

.template-form-delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  color: #aaa;
  font-size: 24px;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-form-delete-button:hover {
  color: #fff;
}

.template-form-field label {
  display: block;
  color: #ccc;
  font-size: 14px;
}

.template-form-field input,
.template-form-field textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

.template-form-field textarea {
  resize: vertical;
}

.template-form-field input:focus,
.template-form-field textarea:focus {
  outline: none;
  border-color: #007acc;
  box-shadow: 0 0 0 2px rgba(0, 122, 204, 0.5);
}
