.chat-controls {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.chat-controls-button {
  border-radius: 8px;
  background-color: #000000a8;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.settings-button svg,
.menu-button svg {
  scale: 1.5;
  padding: 4px;
}
